<!--模态窗 -->
<div class="modal fade" tabindex="-1"  id="consolemodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
             <button id="closemodal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">console</h4>
             <div class="col-sm-12">
                 <a href="{{ deploy.build_url }}">{{ deploy.build_url }}</a>
                <textarea class="form-control" readonly="readonly" name ="get_console" rows="24" placeholder="console"></textarea>
            </div>
        </div>


    </div>
</div>
</div>
<!--模态窗结束 -->
