<!DOCTYPE html>
<html>

<!-- head骨架部分 -->
<head>



  <!-- 母版定义好最基础的资源，保证骨架没问题，各个子页面可以根据需要在block中重写 -->

  <meta charset="utf-8">
  <title>首页 </title>

 {% include 'common_css.html' %}



</head>

<!-- body骨架部分 -->
<body class="hold-transition skin-blue sidebar-mini">

<!--整体骨架样式-->
<div class="wrapper">

<!--第一层头部骨架-->
<header class="main-header">

<!-- 第一层左上角logo部分 -->
<a href="#" class="logo">
  <!-- 收缩时显示DO -->
  <span class="logo-mini"><b>D</b>O</span>
  <!-- 伸展时显示DevOps -->
  <span class="logo-lg"><b>DevOps</b></span>
</a>

<!-- 第一层右边内容 -->
<nav class="navbar navbar-static-top">

  <!-- 控制收缩和伸展的按钮-->
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>

  <!-- 左边菜单栏 -->
  <div class="navbar-custom-menu">
    <!-- 用户退出及个人信息部分 -->
    <ul class="nav navbar-nav">

      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/static/img/user2-160x160.jpg" class="user-image" alt="User Image">
          <span class="hidden-xs">
               reboot
          </span>
        </a>

        <ul class="dropdown-menu">
          <!-- 用户图像 -->
          <li class="user-header"  >
            <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image" >
            <p>
               reboot
            </p>
          </li>

          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="/userdetail/10/" class="btn btn-default btn-flat">个人主页</a>
            </div>
            <div class="pull-right">
              <a href="/logout/" class="btn btn-default btn-flat">退出</a>
            </div>
          </li>
        </ul>
      </li>

    </ul>
  </div>

</nav>
</header>

{% include 'left_menu.html' %}

{% include 'index_right.html' %}


{% include 'footer.html' %}
</div>


</body>

{% include 'common_js.html' %}

</html>