<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        th {
            height: 20px;
            width: 200px;
        }
    </style>
</head>

<body>
    <center>
        <h1 style="color: green">Document<h5>51reboot 训练营</h5></h1>
    <hr>
    <table border="1" cellspacing="0" bordercolor="#000000" cellpadding="4" style='BORDER-COLLAPSE: collapse'>
        <tr align='center' style='color:Black' bgColor='#FFA833'>
            <th>AA</th>
            <th>BB</th>
        </tr>
        <tbody>
            <tr>
                <td>第一行第一列</td>
                <td>第一行第二列</td>
            </tr>
            <tr>
                <td>第二行第一列</td>
                <td>第二行第二列</td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>
