{% extends "base.html" %}

{% load tags %}

{% block title %}角色列表{% endblock %}
{% block css %}
<style>
.form-horizontal .form-group{margin-bottom:10px;width:100%;}
.form-horizontal  .form-control{width:86%;}
.form-horizontal .control-label{width:75px;}
</style>
{% endblock %}

{% block breadcrunb %}
  <h1>
     角色权限管理系统
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">角色管理</li>
  </ol>
{% endblock %}


{% block content %}
<!-- Main row -->
<div class="row">
<div class="col-md-12">

<!-- 引入添加模态窗 -->
{% include "users/roleaddmodel.html" %}
<!-- 表格内容 -->
<div class="box box-info">

    <!-- /.box-header -->
    <div class="box-header with-border">
      <h3 class="box-title">角色列表</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>

    <!-- /.box-body -->
    <div class="box-body">

     <!-- 搜索栏 -->
     <div style="margin-bottom: 10px;height: 30px" class="row">
        <a style="float: left; margin-left: 1%" class="btn btn-sm btn-primary" id = "addbtn"> 添加角色</a>
        <form style="float: right;width: 20%;margin-right: 1%">
        <div  class="input-group">
            <input type="text" class="form-control" name="keyword"
                 placeholder="角色名" value="{% if keyword %} {{ keyword }} {% endif %}">
            <div class="input-group-btn">
               <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
            </div>
        </div>
        </form>
     </div>

    <!-- /.table-responsive -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center">组名</th>
                <th class="text-center">组员</th>
                <th class="text-center">权限</th>
               <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
{#             {% for role in rolelist %}#}
{#               <tr class="gradeX">#}
{#                  <td class="text-center"><a href="{% url 'users:role_power' role.id  %}">{{ role.name }}</a> </td>#}
{##}
{#                   <td class="text-center"> {{ role.member |member_str|  default:"Nothing"}} </td>#}
{#                  <td class="text-center">{{ role.permissions | power_str|default_if_none:'' }}</td>#}
{##}
{##}
{#                  <td class="text-center">#}
{#                    <div class="btn-group">#}
{#                     <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">更新<span class="caret"></span></button>#}
{#                     <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">#}
{#                        <li role="presentation"><a role="menuitem" tabindex="-1"#}
{#                         href="{% url 'users:modify_pwd' %}?uid={{ user.id }}">修改密码</a>#}
{#                        </li>#}
{##}
{#                        <li role="presentation"><a role="menuitem" tabindex="-1"#}
{#                          href="{% url 'users:role_power' role.id  %}"  class="user_group">角色权限修改</a>#}
{#                        </li>#}
{#                      </ul>#}
{#                    </div>#}
{#                    <a class="btn btn-danger btn-sm del" data-id="{{ role.id }}" {% if user.username == 'admin' %} disabled {% endif %}>删除</a>#}
{#                   </td>#}
{#               </tr>#}
{#            {% endfor %}#}
            {% for group in rolelist %}
            <tr class="gradeX">
                <td class="text-center">{{ group.name }}</td>
                <td class="text-center"> {{ group.user_set.all | userlist_str2| default:'无' }}
                <a class="btn btn-xs btn-info more" gid="{{group.id}}" gname="{{group.name}}">更多</a>
                </td>
                <td class="text-center"> {{ group.permissions.all | perm_str2 | default:'无'  }} </td>
                <td class="text-center">
                     <a class="btn btn-xs btn-primary" href="{% url 'users:role_power' group.id %}">更新</a>
{#                     <a href="#" class="btn btn-xs btn-danger delete" data-id = {{ group.id }} >删除</a>#}
                    <a class="btn btn-danger btn-sm del" data-id="{{ group.id }}" >删除</a>

                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        </div><!-- /.table-responsive -->

        <!--分页-->
        <div class="row">
          <div class="col-sm-6">
             <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                 显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
             </div>
          </div>
          {% include 'paginator.html' %}
        </div><!-- /.paginator -->

        </div>
        <!-- /.box-body -->

    </div><!-- /.box -->

</div><!-- /.col -->
</div><!-- /.row -->


{% endblock %}


{% block js %}
<script>
/*添加角色模态窗弹出*/
$("#addbtn").click(function(){
    $("#role_add_modal").modal("show");
});

/*添加用户*/
$("#submit_button").click(function(){
    var formdata = $('#AddForm').serialize()
    console.log(formdata)
    $.post('', formdata, function(res){
        if (res.code == 0) {
            swal({
                "title": "添加成功",
                 "text": res.result,
                 "type": "success"
            }, function () {
                 setTimeout(function () {
                    window.location.reload();
                 }, 50);
             })
        } else {
            let errmsgs = $.parseJSON(res.errmsg);
            let errors_message = ''
            console.log(errmsgs)
            for(let index in errmsgs) {
                console.log(index,errmsgs[index]);
                console.log(index,errmsgs[index][0].message);
                errors_message += errmsgs[index][0].message
            };
            swal("操作失败", errors_message, "error");
         }
    })
    return false;
})


/*删除用户*/
$("tbody").on('click','.del',function(){
    if(confirm("是否确认删除？")){
        let that = this;
        let id = $(this).attr('data-id')
        $.ajax({
            url:"",
            type: "DELETE",
            data: {"id":id},
            datatype: "json",
            success: function(res){
                console.log(res)
                if (res.code ==0){
                    swal({
                        "title": "删除角色成功",
                         "text": res.result,
                         "type": "success"
                    }, function () {
                         setTimeout(function () {
                            window.location.reload();
                         }, 50);
                     })
                }else{
                    swal("操作失败", res.errmsg, "error")
                }
            }
        })

    }  // end confirm
     return false
})


</script>
{% endblock js %}

