{% extends "base.html" %}
{% block title %}工单系统{% endblock %}

{% load ordertag %}

{% block breadcrunb %}
  <h1>
    通用工单系统
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">工单历史</li>
  </ol>
{% endblock %}

{% block content %}

<!-- Main row -->
<div class="row">
<!-- Left col -->
<div class="col-md-12">

<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">


<div class="box-header with-border">
  <h3 class="box-title">工单历史</h3>
  <div class="box-tools pull-right">
    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
    </button>
    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
  </div>
</div>
<!-- /.box-header -->

<div class="box-body">

 <div style="margin-bottom: 10px;height: 30px" class="row">
    <form style="float: right;width: 20%;margin-right: 1%">
    <div  class="input-group">
        <input type="text" class="form-control" name="keyword"
             placeholder="标题|内容|结果" value="{% if keyword %} {{ keyword }} {% endif %}">
        <div class="input-group-btn">
           <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
        </div>
    </div>
    </form>
 </div>

<div class="table-responsive">
<table class="table table-bordered table-striped footable toggle-arrow-tiny" data-page-navigation=".paginations">
    <thead>
    <tr>
        <th class="text-center" data-toggle="true">工单标题</th>
        <th class="text-center">申请人</th>
        <th class="text-center">指派给</th>
        <th class="text-center">工单状态</th>
        <th class="text-center">处理人</th>
        <th class="text-center">申请时间</th>
        <th class="text-center">处理时间</th>
        <th class="text-center">完成时间</th>

{#        <th class="text-center">操作</th>#}
        <th class="text-center" data-hide="all">详情</th>
        <th class="text-center" data-hide="all">附件</th>

    </tr>
    </thead>

    <tbody>
        {% for work_order in orderlist %}
        <tr class="{{ work_order.id }}">
            <td class="text-center" data-toggle="true">{{ work_order.title }}</td>
            <td class="text-center"> {{ work_order.applicant.name_cn }} </td>
            <td class="text-center"> {{ work_order.assign.name_cn }} </td>
            <td class="text-center"><span class="label {% if work_order.status == 2 %}label-default{% else  %}label-danger{% endif %}">{{ work_order.get_status_display }}</span></td>
            <td class="text-center"> {{ work_order.handler.name_cn }} </td>
            <td class="text-center">{{ work_order.apply_time}}</td>
            <td class="text-center">{{ work_order.handle_time}}</td>
            <td class="text-center">{{ work_order.complete_time}}</td>
            <td class="text-center"><pre>{{ work_order.order_contents |markdown_to_html|safe }}</pre></td>
            <td>
                  {% if work_order.orderfiles %}<a href="http://{{ request.get_host }}/media/{{ work_order.orderfiles }}">{{ work_order.orderfiles |orderfile_name}} </a>
                  {% else %} 无
                  {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div><!-- /.table-responsive -->

<div class="row">
  <div class="col-sm-6">
     <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
         显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
     </div>
  </div>

  {% include 'paginator.html' %}
</div><!-- /.paginator -->


</div>
<!-- /.box-body -->
</div>
  <!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}


{% block css %}

    <link rel="stylesheet" type="text/css" href="/static/highlight/styles/default.css">

{% endblock %}


{% block js %}


    <script src="/static/highlight/highlight.pack.js"></script>

<script>
//初始化高亮实例
hljs.initHighlightingOnLoad();

$(document).ready(function() {
    $('.footable').footable();
});

$("tbody").on('click','.delete',function(){
    var work_order_id = $(this).attr('data-id');
        $.ajax({
            type: "DELETE",
            url: "",     {#% url 'workorder:list' %#}
            data:{"id": work_order_id},
            success: function(data){
                console.log(data);
                if (data['code']== 0){
                        swal({
                            title: "是",
                            text: "本条工单已经取消！",
                            type: "success",
                            confirmButtonText: "确定"
                        }, function () {
                             location.reload()
                        });
               }else{
                        swal("Error", data['errmsg'], "error")
               }
         }
        });
})
</script>
{% endblock %}
