{% extends 'base.html' %}


{% block breadcrunb %}

  <h1>
     用户权限管理系统
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">个人中心</li>
  </ol>

{%  endblock %}}


{% block content %}
    <section class="content">

<!-- Main row -->
<div class="row">
<div class="col-md-12">

<!-- 引入添加模态窗 -->
<!--添加用户模态窗 -->
<div class="modal fade" tabindex="-1" id="user_add_modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
             <h4 class="modal-title">添加用户</h4>
        </div>

        <div class="modal-body form-inline">
             <form class="form-horizontal" id="AddForm">
                <div class="form-group">
                    <label class="control-label">用户名：</label>
                    <input type="text" name="username" class="form-control" required="">
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label">中文名：</label>
                    <input type="text" name="name_cn" class="form-control" required="">
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label">手机：</label>
                    <input type="text" name="phone" placeholder="" class="form-control" required="">
                </div>
                <hr>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit_button">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
             </form>

         </div>
    </div>
</div>
</div>
<!--添加用户模态窗结束 -->


<!-- 表格内容 -->
<div class="box box-info">

    <!-- /.box-header -->
    <div class="box-header with-border">
      <h3 class="box-title">用户列表</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>

    <!-- /.box-body -->
    <div class="box-body">

     <!-- 搜索栏 -->
     <div style="margin-bottom: 10px;height: 30px" class="row">
        <a style="float: left; margin-left: 1%" class="btn btn-sm btn-primary" id="addbtn"> 添加用户 </a>
        <form style="float: right;width: 20%;margin-right: 1%">
        <div class="input-group">
            <input type="text" class="form-control" name="keyword" placeholder="用户名|姓名" value="">
            <div class="input-group-btn">
               <button id="search_btn" type="submit" class="btn btn-sm btn-primary">搜索</button>
            </div>
        </div>
        </form>
     </div>

    <!-- /.table-responsive -->
        <!-- /.table-responsive -->

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center">用户名</th>
                <th class="text-center">姓名</th>
                <th class="text-center">小组</th>
                <th class="text-center">手机</th>
                <th class="text-center">激活</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_info %}
               <tr class="gradeX">
                  <td class="text-center"><a href="/userdetail/9/">{{user.username}}</a> </td>
                  <td class="text-center"> {{user.name_cn}} </td>
                  <td class="text-center"> {{ user.groups__name }} </td>
                  <td class="text-center">{{user.phone}}</td>
                  <td class="text-center">{{user.is_active}}</td>

                  <td class="text-center">
                    <div class="btn-group">
                     <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">修改<span class="caret"></span></button>
                     <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/modifypasswd/?uid=9">修改密码</a>
                        </li>

                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/usergrouppower/9/" class="user_group">角色权限修改</a>
                        </li>
                      </ul>
                    </div>
                    <a class="btn btn-danger btn-sm del" data-id="9">删除</a>
                   </td>
               </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>

        <!-- /.table-responsive -->

        </div>
        <!-- /.box-body -->

    </div><!-- /.box -->

</div><!-- /.col -->
</div><!-- /.row -->



    </section>

{% endblock %}
